*{
    font-family: 'Nunito Sans',sans-serif;
    box-sizing: border-box;
}


body{
    padding-left: 140px;
    padding-right: 140px;
}

h1,h2 {
   font-weight: bold;
}

#color-id{
    display: inline-block;
    text-align: center;
    width: 32%;
    min-height: 100%;
}

#font{
    display: inline-block;
    width: 45%;
}

.colors, .Fonts, .Text-Styles{
    border: 2px solid grey;
    margin: 10px auto;
    padding: 20px;
}

.blue{
    background-color: #2d5dcc;
    color: white;
}

.pink{
    background-color: #d957d9;
}

.green{
    background-color: #4fe0b0;
}

.beige{
    background-color: #efd9ca;
    margin-top: 30px;
}

.source p{
    font-family: 'Source Code Pro', monospace;
}

.nunito p{
    font-family: 'Nunito Sans', sans-serif;
}

.poppins p{
    font-family: 'Poppins', sans-serif;
}

.heading{
    text-decoration: underline;
    font-size: 20px;
}

.bold{
    font-weight: 700;
}

.italic{
    font-style: italic;
}

.h1 p{
    font-weight: 700;
    font-size: 26px;
    font-family: 'Nunito Sans';
}

.h2 p{
    font-weight: 500;
    font-size: 18px;
    font-family: Poppins;
}

.p p{
    font-weight: 400(regular);
    font-size: 14px;
    font-family: Poppins;
}